body{
    margin:0;
    padding:0;
    background:linear-gradient(135deg,#1e3c72,#2a5298);
    font-family:Arial, sans-serif;
    min-height:100vh;
}

.container{
    width:90%;
    margin:30px auto;
    background:#d7e3ef;
    padding:25px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.3);
}

h2{
    text-align:center;
    margin-bottom:25px;
    color:#193466;
    font-size:32px;
    font-weight:bold;
}

.form-box{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.input-group{
    display:flex;
    flex-direction:column;
}

.input-group label{
    margin-bottom:8px;
    font-weight:bold;
    color:#333;
    font-size:15px;
}

.input-group input,
.input-group select,
.input-group textarea{
    padding:12px;
    border:2px solid #d7dcfe;
    border-radius:8px;
    font-size:14px;
    transition:0.3s;
    background:#f1f1f3;
}

.input-group input:focus,
.input-group select:focus,
.input-group textarea:focus{
    border-color:#1e88e5;
    outline:none;
    background:#e1e3ed;
    box-shadow:0 0 5px rgba(30,136,229,0.5);
}

.full{
    grid-column:1/3;
}

.btn-box{
    margin-top:20px;
}

button{
    padding:12px 22px;
    border:none;
    color:rgb(202, 208, 219);
    cursor:pointer;
    border-radius:8px;
    margin-right:10px;
    font-size:14px;
    font-weight:bold;
    transition:0.3s;
}

.apply-btn{
    background:linear-gradient(45deg,#0c8879,#6ea312);
}

.approve-btn{
    background:linear-gradient(45deg,#0d4756,#47aac1);
}

.reject-btn{
    background:linear-gradient(45deg,#911724,#c84138);
}

.save-btn{
    background:linear-gradient(45deg,#9e5d0e,#8f7814);
    color:rgb(250, 248, 248);
}

.delete-btn{
    background:linear-gradient(45deg,#2e3538,#34373a);
}

.clear-btn{
    background:linear-gradient(45deg,#474a55,#626772);
    color:rgb(251, 248, 248);
}

button:hover{
    transform:scale(1.05);
    opacity:0.9;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:30px;
    overflow:hidden;
    border-radius:10px;
}

table th,
table td{
    border:1px solid #b7baba;
    padding:14px;
    text-align:center;
}

table th{
    background:linear-gradient(45deg,#849ac3,#7f93ba);
    color:rgb(11, 6, 48);
    font-size:15px;
}

table tr:nth-child(even){
    background:#f5f5f5;
}

table tr:hover{
    background:#dbe9ff;
    cursor:pointer;
    transition:0.3s;
}

.selected{
    background:#a3c5f8!important;
}

.approved{
    background:#146126;
    color:white;
    padding:6px 12px;
    border-radius:20px;
    font-size:13px;
    font-weight:bold;
}

.rejected{
    background:#851c26;
    color:white;
    padding:6px 12px;
    border-radius:20px;
    font-size:13px;
    font-weight:bold;
}

.pending{
    background:#c58018;
    color:white;
    padding:6px 12px;
    border-radius:20px;
    font-size:13px;
    font-weight:bold;
}