*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #f8fafc;
    padding: 20px;
}

.container{
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.05);
    overflow: hidden;
}

.header{
    background: #f0f7ff;
    padding: 15px 20px;
    border-bottom: 1px solid #e2e8f0;
}

.header h2 {
    font-size: 18px;
    color: #1e293b;
}

.content{
    display: flex;
    gap: 30px;
    padding: 25px;
}

.sidebar{
    width: 250px;
}

.sidebar h3, .filters h3, .preview h3{
    font-size: 14px;
    color: #1e3a8a;
    margin-bottom: 15px;
}

.report{
    display: flex;
    align-items: center;
    padding: 14px 18px;
    margin-bottom: 10px;
    border: 1px solid #e2e8f0;
    cursor: pointer;
    border-radius: 6px;
    color: #334155;
    font-size: 14px;
    transition: all 0.2s;
}

.icon {
    margin-right: 12px;
    font-size: 16px;
}

.report:hover{
    background: #f1f5f9;
}

.report.active{
    background: #4f46e5;
    color: white;
    border-color: #4f46e5;
}

.filters{
    width: 220px;
    border-left: 1px solid #f1f5f9;
    border-right: 1px solid #f1f5f9;
    padding: 0 20px;
}

.filters label{
    display: block;
    margin-top: 15px;
    font-size: 13px;
    font-weight: bold;
    color: #1e293b;
}

.filters input,
.filters select{
    width: 100%;
    padding: 8px 12px;
    margin-top: 6px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    outline: none;
    font-size: 13px;
}

.preview{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*  */
.chart-container {
    position: relative;
    width: 100%;
    max-width: 450px;
    height: 280px;
    margin: 20px auto;
}

.buttons{
    margin-top: auto;
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
}

button{
    border: none;
    padding: 10px 22px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
}

.excel{
    background: #22c55e;
}

.pdf{
    background: #ef4444;
}

.print{
    background: #e2e8f0;
    color: #334155;
}